.ReactModal__Overlay {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
}

.ReactModal__Content {
    z-index: 6;
    display: flex;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: var(--card-background);
    width: 300px;
    height: 200px;
    overflow: auto;

    border-radius: 5px;

}

.content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;

    width: 100%;

    button {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 10px 20px;

        border-radius: 50px;

        font-size: 15px;
        font-weight: 500;

        &:hover {
            cursor: pointer;
        }

        &+button {
            margin-top: 15px;
        }

        svg {
            margin-right: 5px;
            font-size: 17pt;
        }
    }

    .google {
        background: rgb(235, 235, 235);
        border: none;

        transition: background-color 0.3s;

        &:hover {
            background: rgb(207, 207, 207);
        }
    }

    .facebook {
        background: #166FE5;
        color: white;
        border: none;

        transition: background-color 0.3s;

        &:hover {
            background: #125fc4;
        }
    }

    .github {
        background: rgb(0, 0, 0);
        border: none;
        color: white;

        transition: background-color 0.3s;

        &:hover {
            background: rgb(46, 46, 46);
        }
    }
}