.container {
    display: flex;
    align-items: center;
    select {
        margin-left: 2px;
        min-width: 125px;
        padding: 3px;
        outline: none;
        border-radius: 5px;
        font-size: 11pt;
        // background: red;

        option{
            padding: 5px;

            // background-color:red
        }
        &:hover {
            cursor: pointer;
        }
    }

    // display: flex;
    // align-items: center;
    // margin-left: 5px;
    // margin-top: 2px;



    // button {
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    //     width: 55px;
    //     font-size: 18pt;
    //     color: var(--font-color);
    //     background: var(--item-background-secondary);
    //     border: 1px solid var(--borders-lite);
    //     border-radius: 15px;
    //     padding: 0 3px;
    //     padding-bottom: 1px;
    //     height: 28px;

    //     svg {
    //         color: var(--font-color);
    //     }

    //     &:hover {
    //         cursor: pointer;
    //         background: var(--item-background-hover-secondary);
    //     }
    // }
}