@media screen and (max-width: 720px) {
    .container {
        td {
            font-size: 10.5pt;
        }
    }
}

.container {
    background: none;
    transition: background-color 0.3s;

    p {
        padding: 0;
        margin: 0;
    }

    &:hover {
        cursor: pointer;
        background: var(--item-background-hover);
    }

    td {
        color: var(--font-color);
        padding: 3px 2px;
        border-bottom: 1px solid var(--borders-lite);
    }

    td:nth-child(2) {
        font-size: 11pt;
        font-weight: 300;
        color: var(--font-color-secondary);
    }

    td:nth-child(3) {
        .identification_container {
            display: flex;
            align-items: center;

            .logo_container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                max-width: 45px;
                width: 100%;
                margin-right: 5px;

                p {
                    font-size: 11pt;
                    font-weight: 300;
                }

                img {
                    width: 25px;
                }
            }

            .name_container {
                width: 100%;

                h1 {
                    font-size: 14pt;
                    font-weight: 500;
                    text-align: left;

                }
            }
        }
    }

    td:nth-child(4) {
        .values_container {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            p {
                display: flex;
                align-items: center;
                font-size: 11pt;
                font-weight: 400;

                span {
                    display: flex;
                    flex-direction: column;
                    align-items: baseline;
                    margin-left: 5px;
                    font-size: 8pt;
                }
            }

            p:nth-child(1),
            p:nth-child(3) {
                font-size: 9pt;
            }
        }

        .negative_value {
            color: #ff0000;
        }

        .positive_value {
            color: rgb(0, 170, 0);
        }

    }

    td:nth-child(5),
    td:nth-child(6) {
        font-size: 10pt;
        font-weight: 400;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;

        background: #DFE6ED;
        border: none;
        font-weight: bold;
        font-size: 13pt;
        width: 100%;
        height: 100%;

        padding: 5px 5px;

        transition: background-color 0.3s;

        &:hover {
            cursor: pointer;
            background: #c0cdd8;
        }
    }
}

.active {
    background: var(--item-background);

    &:hover {
        background: var(--item-background);
    }
}

@media screen and (max-width: 720px) {
    .container {
        td:nth-child(3) {
            .identification_container {

                .name_container {
                    h1 {
                        font-size: 12pt;
                    }
                }
            }
        }

        td:nth-child(5),
        td:nth-child(6) {
            display: none;
        }
    }
}