.container {
    z-index: 5;
    position: absolute;
    right: 28px;
    top: 52px;

    display: none;

    .content {
        background: var(--item-background-secondary);
        width: 280px;

        border-radius: 5px;

        .login {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 70px;

            border-bottom: 1px solid var(--borders-lite);

            .user {
                width: 100%;
                padding: 10px;
                display: flex;
                align-items: center;

                p {
                    margin-bottom: 5px;
                }

                img {
                    width: 50px;
                    border-radius: 50%;
                    margin-right: 15px;
                }

                a {
                    color: #c74a4a;

                    &:hover {
                        color: red;
                    }
                }
            }

            button {
                padding: 10px 20px;
                font-size: 13pt;
                background: var(--item-background-tertiary);
                color: var(--font-color);

                border: none;
                border-radius: 25px;

                &:hover {
                    cursor: pointer;
                    background: var(--item-background-hover-secondary);
                }
            }
        }

        .language,
        .darkmode {
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 23px 5px;

            &:hover {
                background: var(--item-background-hover-secondary);
            }

            p {
                display: flex;
                align-items: center;
                user-select: none;
                padding: 5px;

                svg {
                    margin-right: 5px;
                }
            }
        }

        .darkmode {
            display: flex;
            justify-content: space-between;
        }

        .language {
            display: flex;
            justify-content: space-between;
        }
    }




    &.open {
        display: block;
    }


    .arrow_up {
        margin-left: 255px;
        margin-right: 10px;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid var(--item-background-secondary);
        backdrop-filter: blur(2px);

        transition: all 0.2s;
    }

}

@media screen and (max-width: 1024px) {
    .container {
        right: 8px;
    }
}