.container {
    // background: #ffffff;
    height: 100%;
    display: flex;
    align-items: center;

    button {
        display: flex;
        align-items: center;
        font-size: 20pt;
        color: var(--font-color);
        background: var(--item-background-secondary);
        border: none;
        border-radius: 15px;
        padding: 1px 3px 1px 1px;

        &:hover {
            cursor: pointer;
            background: var(--item-background-hover-secondary);
        }

    }

}