.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;

    width: 100%;

    padding: 0 2px;

}

@media screen and (max-width: 720px) {
    .container {
        flex-direction: column;

        div {
            &+div {
                margin-top: 5px;
            }
        }
    }
}