.button {
    cursor: pointer;
    padding: 4px 9px;
    border: none;
    border-radius: 5px;

    background: var(--card-background);
    color: var(--font-color);

    &:hover {
        background: var(--card-background-hover);
    }

    &:disabled {
        background: var(--button-disabled-background);
        color: var(--header-background);

        &:hover {
            cursor: default;
        }
    }

    &+button {
        margin-left: 5px;
    }
}