.container {
    position: relative;
    width: 100%;

    p {
        width: 100%;
        text-align: center;
        font-size: 10pt;
        color: var(--font-color-secondary);
    }

    .content {
        position: relative;
        height: 245px;
        margin-top: -20px;
        margin-bottom: 10px;
    }
}